In [2]:
x=20
y=30
z=x*y
z

600

In [3]:
x=40
y=30
z=x+y
z

70

In [7]:
i = input('enter a numbers')
i = int(i)

enter a numbers1

In [ ]:
for i in list():
    print(i.sum)

In [9]:
x = 36 / 4 * (3 +  2) * 4 + 2
print(x)

182.0

In [11]:
for i in range(1, 5):
    print(i)
else:
    print("this is else block statement" )

1
2
3
4
this is else block statement

In [12]:
var= "James Bond"
print(var[2::-1])

maJ

In [13]:
salary = 8000

def printSalary():
  salary = 12000
  print("Salary:", salary)
  
printSalary()
print("Salary:", salary)

Salary: 12000
Salary: 8000

In [16]:
for x in range(0.5, 5.5, 0.5):
   
  print(x)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [17]:
var = "James" * 2  * 3
print(var)

JamesJamesJamesJamesJamesJames

In [18]:
listOne = [20, 40, 60, 80]
listTwo = [20, 40, 60, 80]

print(listOne == listTwo)
print(listOne is listTwo)

True
False

In [19]:
var1 = 1
var2 = 2
var3 = "3"

print(var1 + var2 + var3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [20]:
p, q, r = 10, 20 ,30
print(p, q, r)

10 20 30

In [21]:
str = "pynative"
print (str[1:3])

yn

In [22]:
valueOne = 5 ** 2
valueTwo = 5 ** 3

print(valueOne)
print(valueTwo)

25
125

In [23]:
for i in range(10, 15, 1):
  print( i, end=', ')

10, 11, 12, 13, 14,

In [24]:
def calculate (num1, num2=4):
  res = num1 * num2
  print(res)

calculate(5, 6)

30

In [34]:
print('current and previous number sum in a range(10)')
previous_num = 0
for i in range(0,10,1):
    summ = previous_num +i
    print(f'Current Number {i} Previous Number {previous_num} Sum: {summ}')
    previous_num = i

current and previous number sum in a range(10)
Current Number 0 Previous Number 0 Sum: 0
Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17

In [51]:
x =input("enter your word")
print(f'word is:{x}')
y =len(x)

print("even index:")
for i in range(0,y-1,2):
    print("index[",i,"]",x[i])

enter your wordtoqa
word is:toqa
even index:
index[ 0 ] t
index[ 2 ] q

In [53]:
x = input ("enter your word")
print ("word",x)
y=len(x)
print("even index")
for i in range(0,y-1,2):
    print(f'index[',{i},']',x[i])

enter your wordsokaalabeta
word sokaalabeta
even index
index[ {0} ] s
index[ {2} ] k
index[ {4} ] a
index[ {6} ] a
index[ {8} ] e

In [ ]:
z = []
n = int(input("enter your list:"))
for i in range(0,n):
    ele =int(input())
    z.append(ele)
print(z)

In [69]:
x =[1,2,3,4]
x[0]

1